/* Menu */
main{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Título do tema abordado */
#titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

/* Âncoras */
#conj{
    font-size: xx-large;
    font-weight: bold;
}

#func{
    font-size: xx-large;
    font-weight: bold;
}

/* Tópicos */
.topicos{
    font-size: x-large;
}

.sub_topicos{
    font-size: smaller;
    text-decoration: underline;
}

.ex{
    font-size: smaller;
    font-weight: bold;
    text-decoration: underline;
}

#importante{
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline 2px;
}

/* Conteúdo */
.materia{
    font-size: large;
}

/* Imagens */
.foto{
    width: 280px;
    height: 80px;
}

.cn{
    width: 300px;
    height: 200px;
}
